@{
    TenantBO tenant = TenantBLL.GetTenant(System.Web.HttpContext.Current);
}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="layout" content="@tenant.Layout" />
    <meta name="theme" content="@tenant.Theme" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - @tenant.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.4/themes/cupertino/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/foundation/foundation.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/foundation/foundation.mvc.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/foundation/app.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/site.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content(tenant.Theme)" />
    
    @RenderSection("Header", false)
    <script type="text/javascript" src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
</head>
<body>

    @Html.Partial("_TopMenu")

    <div class="row">
        <div class="large-3 columns">
            @Html.Partial("_InventoryMenu")
        </div>
        <div class="large-9 columns">
            @RenderBody()
        </div>
    </div>

    

    @Html.Partial("_Footer")
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/fastclick.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/jquery.cookie.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/fastclick.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.abide.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.accordion.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.alert.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.clearing.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.dropdown.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.equalizer.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.interchange.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.joyride.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.magellan.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.offcanvas.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.orbit.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.reveal.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.slider.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.tab.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.tooltip.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/foundation.topbar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/foundation/app.js")"></script>
    
    <script>
        $(document).foundation();
    </script>
    

    @if (User.Identity.IsAuthenticated)
    {
        <!-- ck editor scripts -->
        <script type="text/javascript" src="@Url.Content("~/ckeditor/ckeditor.js")" ></script>
        <script type="text/javascript">
            $(document).ready(function () {
                CKEDITOR.disableAutoInline = true;
                $("div[data-html-editor]").each(function () {
                    var id = $(this).attr("id");
                    var htmlId = $(this).attr("data-html-editor");
                    CKEDITOR.inline(document.getElementById(id), {
                        on: {
                            blur: function (event) {
                                var data = { Html: event.editor.getData() };
                                jQuery.ajax({
                                    url: "@Url.Action("Save", "Html")/" + htmlId,
                                    type: "POST",
                                    contentType: 'application/json; charset=utf-8',
                                    data: JSON.stringify(data)
                                });
                            }
                        }
                    });
                });
            });
        </script>
    }

    @RenderSection("Scripts", false)
</body>
</html>