@model TrailerOnline.Models.ResetPasswordModel
@{
    ViewBag.Title = "UpdatePassword";
}

<div class="row">
    <div class="large-8 columns">
        <section>
            <h2>Update Your Password</h2>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ResetToken)

                @Html.TextBoxFor(m => m.Password, new { placeholder = "New Password" })
                @Html.TextBoxFor(m => m.Confirm, new { placeholder = "Retype New Password" })
                <p>
                    <input type="submit" class="button radius" value="Submit" />
                </p>
            }
        </section>
    </div>
</div>

