@model CategoryVM

@{
    ViewBag.Title = "Create New Category";
}

<h2>New Category</h2>

<div class="row">

    <div class="large-6 columns">
        @using (Html.BeginForm()) {

            @Html.ValidationSummary(true)

            
            <div class="editor-label">
                @Html.LabelFor(model => model.MenuName)
            
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.MenuName)
                @Html.EditorFor(model => model.MenuName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PageTitle)
            </div>
            <div class="editor-field">
                @Html.ValidationMessageFor(model => model.PageTitle)
                @Html.EditorFor(model => model.PageTitle)
            </div>

            <div class="editor-field">
                @Html.CheckBoxFor(model => model.DisplayToPublic) @Html.LabelFor(model => model.DisplayToPublic)
            </div>
            
            <p>
                <br />
                <input class="button" type="submit" value="Create" />
                @Html.ActionLink("Cancel", "Index", "Category", null, new { @class = "button" })
            </p>
        }
    </div>


</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#MenuName").keyup(function () {
            var v = $(this).val();
            $("#PageTitle").val(v);
        });
    });

</script>